<?xml version="1.0" encoding="utf-8"?><!--
  ~ Created by YSN Studio on 4/26/18 11:09 PM
  ~ Copyright (c) 2018. All rights reserved.
  ~
  ~ Last modified 4/26/18 10:17 PM
  -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ysn.footballclub_dicoding">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".matches.activitiy.detailmatch.DetailMatchActivity" />
        <activity android:name=".matches.fragment.selectleaguematch.SelectLeagueMatchActivity" />
        <activity
            android:name=".matches.activitiy.searchmatch.SearchMatchesActivity"
            android:theme="@style/AppThemeWithoutToolbar" />
    </application>

</manifest>