<?xml version="1.0" encoding="utf-8"?><!--
  ~ Created by YSN Studio on 5/1/18 5:34 PM
  ~ Copyright (c) 2018. All rights reserved.
  ~
  ~ Last modified 5/1/18 5:26 PM
  -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ysn.footballclub_dicoding">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".matches.activitiy.detailmatch.DetailMatchActivity" />
        <activity android:name=".selectleague.SelectLeagueMatchActivity" />
        <activity
            android:name=".matches.activitiy.searchmatch.SearchMatchesActivity"
            android:theme="@style/AppThemeWithoutToolbar" />
        <activity
            android:name=".teams.activity.detailteam.DetailTeamActivity"
            android:theme="@style/AppThemeWithoutToolbar" />
        <activity android:name=".teams.activity.detailplayer.DetailPlayerActivity" />
        <activity
            android:name=".teams.activity.searchteam.SearchTeamsActivity"
            android:theme="@style/AppThemeWithoutToolbar" />
    </application>

</manifest>